body {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    line-height: 1.42857143;
	color: #333;}
a {
	transition:all 0.3s;
	text-decoration:none;
	color:#333333;
}
a:active, a:hover {
	outline: 0;
	color:#ec433d;
	text-decoration: none;
    transition:all 0.3s;
}

a:hover{
	text-decoration: none;
}
.header {
    background: #fff;
    height: 85px;
}

.fr {
    float: right;
}
.fl{
	float: left;
}
ul {
    list-style: none;
}
.flul li, .contentfl li {
    float: left;
}
.top{
	margin: auto;
	background: #212121;
	line-height: 40px;
}
.Indextitle { 
	width: 100%; 
	height: 89px; 
	margin: 0 auto; 
	background: rgba(255, 255,255, 0.65)!important; 
	filter: Alpha(opacity=85); background: #fff; /*銆�娇鐢↖E涓撳睘婊ら暅瀹炵幇IE鑳屾櫙閫忔槑*/ 
	position: absolute; 
	z-index: 999;  
}
.cc_c { 
	width:980px; 
	height: auto; 
	margin: 0 auto; 
}
.welcome { 
	width: auto; 
	float: left; 
	line-height: 40px; 
	font-size: 12px; 
	color: #fff; 
}
.call_header { 
	width: auto; 
	float: right; 
	text-align: right; 
	font-size: 14px; 
	line-height: 40px; 
	color: #fff; 
}
.call_header b { 
	color: #0585ea; 
}
.logo { 
	float: left; 
	position: relative; 
	padding-top: 10px;
}
.menu { 
	float: right; 
}
.menu ul { 
	margin: 0px;
	padding: 0px; 
}
.menu ul li { 
	width: 97px; 
	float: left; 
	padding: 0px; 
}
.menu ul li a:link, .menu ul li a:visited { 
	width: 115px; 
	height: 89px; 
	color: #000; 
	display: block; 
	padding: 20px 0px; 
}
.menu ul li a:hover, .menu ul li .nav_stop { 
	width: 115px; 
	height: 89px; 
	padding: 20px 0px;
	background:url(../images/menu_hover_bg.png) bottom no-repeat;
	color: #02335b !important; 
	display: block; 
}
.menu ul li span { 
	width: 110px; 
	float: left; 
	text-align: center; 
	padding-top: 6px; 
}
.name_ch { 
	width: 100px; 
	height: 16px; 
	line-height: 36px; 
	padding-top: 60px; 
	font-size: 18px; 
}
.name_en { 
	width: 100px; 
	height: 16px; 
	line-height: 16px; 
	font-size: 12px;
	text-transform:Uppercase; 	
}
#J_m_nav{
	 background:rgba(255, 255,255, 0.85)!important;
     filter:Alpha(opacity=85); background:#fff;
}
.nav_fixed { 
	height: 90px; 
	position: fixed; 
	background: rgba(255, 255,255, 1)!important; 
	filter: Alpha(opacity=100); background: #fff; /*銆�娇鐢↖E涓撳睘婊ら暅瀹炵幇IE鑳屾櫙閫忔槑*/ 
	}
.limitWord{
	overflow:hidden; 
	text-decoration:none !important;
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:4; 
}
.team_member img{
	width:200px;
	max-width: 200px;
	max-height:200px;
	overflow: hidden;
	}
#Loading_member{
	width: 300px;
	/*overflow: hidden;*/
	margin: auto;
	display:none;
}
#Loading_member img{
	width: 300px;
	margin-top: 20px;
}
.dropdown ul li { 
	width: 97px; 
	height: 30px; 
	float: left; 
	padding: 0px; 
}
.dropdown ul li a:link, .menu ul li a:visited { 
	width: 100px; 
	height: 30px; 
	color: #000; 
	display: block; 
	padding: 5px 0px;
	text-align:center; 
}
.dropdown ul li a:hover{ 
	width: 100px; 
	height: 30px; 
	color: #02335b !important; 
	background:#fff;
	display: block; 
}
.dropdown-menu{
	position:relative;
	min-width:105px !important;
	top:-30px;
	left:10px;
}