@charset "utf-8";
/* CSS Document */


*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
h1{font-family: Microsoft YaHei; letter-spacing: 1px;}
h2{font-family: Microsoft YaHei; letter-spacing: 1px;}
h4{font-family: Microsoft YaHei; font-size: 16px; letter-spacing: 1px;}
h5{font-family: Microsoft YaHei; letter-spacing: 1px;}
h7{font-family: Microsoft YaHei; letter-spacing: 1px;}
.video{
    background:url(../images/CG/03%20background.png);
    background-size:100% 100%;
        }
.job{
    background:#f4f4f4;
        }	
p{
    font-size: 10px;
	font-family: Microsoft YaHei;
    color: #999;
    letter-spacing: 1px;
        }
p1{
    font-family: Microsoft YaHei;
    letter-spacing: 2px;
    line-height: 17pt;
        }
p2{
    margin:0 auto;
	margin-top:30px;
	margin-bottom:70px;
	width:620px;
	color:#313131;
	text-align:center;
	font-size:14px;
        }
p3{
    font-size: 1px;
    line-height: 30pt;
	font-family: Microsoft YaHei;
        }
p4{
    font-size: 13px;
    color:#333;
    letter-spacing: 2px;
	font-family: Microsoft YaHei;
        }
p5{
    letter-spacing: 2px;
 	font-family: Microsoft YaHei;
 		}
p6{
 	text-shadow:#F00;
	font-family: Microsoft YaHei;
	    }
p7{
	font-size:28px;
	color:#666;
	}		
h3{
	text-align:center;
	font-weight:400;
	
}
.pt60{
	padding-top:60px;
}
.ult h5{
	padding-bottom:10px;
	font-weight:400;
	font-size:16px;
}
}
.ult dd{
	color:#acacac;
	font-size:12px;
	line-height:20px;
}
.ult img{
	margin-bottom:40px;
}
.ult{
	padding-top:60px;
	width:644px;
}
.ult li{
	float:left;
	width:150px;
	text-align:center;
}
ul{
	overflow:hidden;
	margin:0 auto;
}

.team_Intro{
	width: 100%;
	padding-bottom: 60px;
	border-bottom: 2px solid #d1d1d1;
}
.team_title{
	height: 190px;
	margin-top: 50px;
	background: url(../images/program/title1.png) no-repeat;
	background-position: center;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
}
.team_content{
	width: 880px;
	margin: auto;
	margin-top: 60px;
	height: 354px;
}
.team_left{
	float: left;
}
.team_right{
	float: left;
	margin-left: 100px;
}
.team_title2{
	width: 261px;
	margin: auto;
	margin-top: 60px;
	height: 71px;
}
.team_menber{
	margin: auto;
	margin-top: 40px;
	height: 500px;
	position: relative;
}
#team_list{
	position: absolute;
	top: 100%;
}
.team_menber .carousel-indicators li{
	width: 20px;
	height: 20px;
	background-color: #D1D1D1;
	border: 0;
	border-radius: 50%;
	margin:20px 19px 0 0;
	text-indent: 0;
}
.team_menber .carousel-indicators .active{
	background: #ec433d;
}
.team_menber .carousel ol li{
	*display: inline;
}

.team_item{
	height: 298px;
	overflow: hidden;
	float: left;
	text-align: center;
	width: 185px;
	margin-left: 10px;
}
.team_item img{
	width: 150px;
}
.team_item p{
	text-align: left;
}
.thumbnail{
	border: none !important;
}
.thumbnail h4{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.media img{
 	border-radius: 9px 9px 9px 9px;
	margin-top: 40px;
	margin-bottom: 40px;
	}
#work_img1{
	max-width: 445px;
	overflow: hidden;
}
#work_img2{
	max-width: 512px;
	overflow: hidden;
}
#work3{
	max-width: 202px;
	overflow: hidden;
}
#work4{
	vertical-align:top;
	position: relative;
	max-width: 510px;
	overflow: hidden;
	}
#work5{
	vertical-align:top;
	position: relative;
	max-width: 250px;
	overflow: hidden;
	}	
#work6{
	margin-left:-255px;
	vertical-align:bottom;
	position: relative;
	max-width: 250px;
	overflow: hidden;
	}
.works{
	width:100%;
	margin-left:-29px;
	}	
.work{
	height:340px;
	width:910px;
	margin-bottom:20px;	
	}
.work_imgone{
	width: 450px;
	float:left;
}
.work_imgtwo{
	width: 450px;
	float:right;
	margin-top:20px;
}
.work_imgone{
	margin-top:20px;	
}
.work_imgone:nth-of-type(1){
	position:relative;
	}
.word{
	position:absolute;	
	top:15px;
	left:45px;	
	}
.word img{
	width: 350px;
	}
.workthree{
	height:340px;
	padding-top:10px;}
.member{
	margin: auto;
	margin-top: 6%;
}
.member_item{
	float: left;
	width: 205px;
	border-color:#666;
	margin-left:2px;
}
.member_item img{
 	width: 195px;
}
.member_item h3{
 	position: absolute;
	top:88px;
	display: block;
	font-size: 20px;
	text-align: left;
	color:#FFF;
	padding-left: 10px;
}
.member_item p{
	margin-top: 10px;
	display: block;
	color:#333;
}
#carousel_students{
	margin: auto;
	width: 980px;
}
#students_list{
	position: absolute;
	top: 100%;
}
.member .carousel-indicators li{
	width: 20px;
	height: 20px;
	background-color: #D1D1D1;
	border: 0;
	border-radius: 50%;
	margin:20px 19px 0 0;
	text-indent: 0;
}
.member .carousel-indicators .active{
	background: #ec433d;
}
.member .carousel ol li{
	*display: inline;
}
a{
	font-family:"微软雅黑";
	font-size: 25px;
	}
.teather{
	padding-bottom:10px;}
.media{
	background:url(../images/CG/07%20teacher3.png);
	margin-top:60px;
	color:#FFF;
	background-size:100% 100%;
	border-radius: 9px 9px 9px 9px;
	}
.media-object{
	height:290px;
	}
.dropdown{
	margin-top:100px;
	margin-bottom:30px;
	}
.search{
	margin-top:100px;
	margin-bottom:30px;
 	}
.tab-pane{
	margin-top:40px;
	}
.plan{
	text-align:center;
}
#plan_list1 tr td{
	border: 4px solid #fff;
	width: 50%;
	background-color:#DCDCDC;
	font-size: 20px;
}
#plan_list2 tr td{
	border: 4px solid #fff;
	font-size: 20px;
	background-color:#DCDCDC;
}
.plan_table_title1{
	background-color: #EC433D !important;
	color: #fff;
	font-size: 28px !important;
}
.plan_table_title2{
	background-color: #EA8A88 !important;
 	color: #fff;
	font-size: 14px !important;
}
